p {
    indent: 1px;
}

.background-container {
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-repeat: no repeat;
    background-position: top;
    position: relative;
    color: white;
    
    
}

.footer {
    background-color: black
}

.label {
    background-color: linearGradient(
        to right,
        #6699CC,
        black),

    
}


.about-me {
    margin: 15rem auto;
}
.about-me > p {
    font: white;

}

.carousel-item > p {
    align-content: center;
    flex-wrap: inherit;
    shape-image-threshold: initial;
    width: 100%;
    height: auto;
}

.centerPhoto > img {
    align-content: center;
    flex-wrap: inherit;
    shape-image-threshold: initial;
    width: 100%;
    height: auto;
}
 
.projects > p {
    border-left: 5rem;
    border-top: 5rem;
}

.carousel-item > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.carousel-item > p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.footer > label {
    font: grey;
}