

.background-container {
    height: 100vh;
    background-image: linear-gradient(
        to right,
        #0f151b46,
        rgba(236, 229, 229, 0.37)),
        url(../html-practice/imgs/mika-baumeister-J5yoGZLdpSI-unsplash.jpg);
    background-size: cover;
    background-repeat: no repeat;
    background-position: top;
    position: relative;
    color: white;
    
    
}

.footer {
    background-color: black
}

.label {
    background-color: linearGradient(
        to right,
        #6699CC,
        black),

    
}


.about-me {
    margin: 15rem auto;
}
.about-me > p {
    font: white;

}

.carousel-item > p {
    align-content: center;
    flex-wrap: inherit;
    shape-image-threshold: initial;
    width: 100%;
    height: auto;
}
 
.projects > p {
    border-left: 5rem;
    border-top: 5rem;
}

#project1 > img {
    width: 100px;
    height: 100px;
}
#project1 > p {
    grid-row: 4;
    grid-column: 4;

    width: 100px;

}

#project2 > p {
    grid-row: 4;
    grid-column: 4;
    width: 100px;
}

#project3 > p {
    grid-row: 4;
    grid-column: 4;
    width: 100px;
}